h2 + p {
  font-style: italic;
}

p {
  line-height: 2;
  text-indent: 40px;
}

p::first-letter {
  font-size: 30px;
  color: #87cefa;
}

#home p,
.box-work p {
  line-height: normal;
  text-indent: 0;
}

.box-work p::first-letter {
  color: rgb(36, 36, 36);
}

.flex-2-col {
  display: flex;
}
.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box.box-bg {
  transition: all 0.5s;
}
.box.box-bg h2 {
  transition: all 0.5s;
}

.box.box-bg:hover {
  background-color: #87cefa;
}
.box.box-bg:hover h2 {
  color: white;
  font-weight: bold;
}

.tm-sidebar {
  box-shadow: 0px 5px 5px 0px #bbb;
}

#home,
#about,
#ideas,
#what-we-do,
section.heading,
section.blocks,
section.tm-content-box {
  box-shadow: 0px 0px 5px 5px #bbb;
}

.tm-banner {
  background: #f5f5f5;
}
.tm-banner-inner {
  background: white;
}

.heading a {
  color: rgb(36, 36, 36);
}

.heading a:hover {
  color: #87cefa;
  text-decoration: underline double;
}
.heading a:visited {
  text-decoration: underline;
}

.heading li:nth-child(1)::after,
.heading li:nth-child(3)::after {
  content: "New";
  color: red;
  display: inline-block;
  position: relative;
  top: -5px;
  font-size: 12px;
}

.box.box-work {
  padding: 10px;
}
.box.box-work:nth-child(2n) {
  background: #f5f5f5;
}

.btn-primary {
  float: right;
  padding: 0.375rem 2rem;
  color: #87cefa;
  background-color: white;
  border-color: #87cefa;
  border-radius: 0;
  transition: all 0.5s;
}
.btn-primary:hover {
  color: white;
  background-color: #87cefa;
  border-color: #78cafd;
}

.tm-nav-item {
  transition: all 0.5s;
}

.tm-nav-item:hover {
  background: #f5f5f5;
}

.mandatory-field::after {
  content: "*";
  color: red;
}

#tmCarousel h2 {
  color: gainsboro;
  letter-spacing: 5px;
}

@media print {
  body {
    background-color: white;
  }
  p {
    line-height: normal;
  }
  h2.tm-section-title {
    color: #311d97;
  }
  #about,
  #ideas,
  section.heading,
  section.blocks,
  section.tm-content-box,
  .tm-sidebar {
    display: none;
  }
  .tm-banner {
    padding: 10px;
  }
  .tm-banner-inner {
    padding: 30px 150px;
  }
  .tm-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .tm-team-description-container {
    max-width: 70%;
  }
  .flex-item img {
    width: 70%;
  }
}
